# Ignore build output
bin/
obj/
Debug/
Release/
*.exe
*.dll
*.pdb


# Ignore Visual Studio files
.vscode/
*.suo
*.user
*.cache
*.csproj.user
/.vs
.vs

# Ignore dependencies
node_modules/
packages/

# Ignore environment files
.env
secrets.json

# Ignore ReSharper & Rider
.idea/
*.sln.DotSettings